.user-area {
    text-align: right;
    padding: 1%;
    margin-top: 5%;
}

#login {
    margin-right: 2%;
}

.content-area {
    text-align: center;
    font-size: large;
}

th,
td {
    padding: 1%;
}

/* ////////////////////this is for login signup///////////////////// */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;

}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    background: url(https://media.giphy.com/media/wQHDnQmXZlpVuuPqey/giphy.gif);
}


nav {
    text-align: right;
}

header h1 {
    margin: 0;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
}

form label {
    display: block;
    margin-top: 10px;
}

form input,
form button {
    display: block;
    margin-top: 5px;
    text-align: center;
}

#cardselector {
    padding: 4%;
    text-align: center;
    width: 400px;
    /* height: 800%; */
    margin-left: 70%;
    margin-top: 10%;
}


.custom-card-size {
    width: 1000px;
    height: 800px;
}